.container {
  padding: 30px;
  font-family: Arial;
}

h1 {
  text-align: center;
}


.form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}


.form input {
  padding: 10px;
}


button {
  padding: 10px 20px;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
}


th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}


th {
  background: #333;
  color: white;
}